<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="https://via.placeholder.com/48x48" alt=""  >

    </div>
    <mat-card-title class="d-flex justify-content-center align-content-center">
      <mat-icon> album</mat-icon>{{album.title}}</mat-card-title>
    <mat-card-subtitle>{{album.id}} - {{album.userId}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions >
    <button mat-raised-button color="accent">LIKE <mat-icon>thumb_up_al</mat-icon> </button>
    <button mat-raised-button color="accent">SHARE <mat-icon>share</mat-icon> </button>
  </mat-card-actions>
</mat-card>

